.d-flex-align-center, .header, .header__main-box {
  display: flex;
  align-items: center; }

.mr-24px {
  margin-right: 2.4rem; }

@font-face {
  font-family: "Helvetica Neue Light";
  src: local("Helvetica Neue Thin"), local("Helvetica Neue Thin"), url("../font/light/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../font/light/HelveticaNeueCyr-Thin.woff") format("woff"), url("../font/light/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Helvetica Neue Bold";
  src: local("Helvetica Neue Heavy"), local("Helvetica Neue Heavy"), url("../font/bold/HelveticaNeueCyr-Heavy.woff2") format("woff2"), url("../font/bold/HelveticaNeueCyr-Heavy.woff") format("woff"), url("../font/bold/HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  box-sizing: inherit;
  font-size: 62.5%; }

body {
  color: #4E254F;
  font-size: 1.6rem;
  font-family: "Helvetica Neue Light", sans-serif; }

.btn-toggler {
  color: rgba(78, 37, 79, 0.25);
  line-height: 1.6rem;
  font-size: 1.4rem;
  background: none;
  cursor: pointer;
  outline: none;
  border: 0; }
  .btn-toggler--active {
    color: #4E254F; }

.logo {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-family: "Helvetica Neue Bold", sans-serif; }

.header {
  justify-content: space-between;
  padding-right: 3.2rem; }
  .header__main-box {
    padding: 2.4rem 4rem 2.4rem 8rem;
    background: #F7F8FC; }
  .header__language-toggler-box {
    margin-left: 5.5rem; }
