<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title Document
    body 
    header.header#header-js
     .header__main-box#main-box-js
      .logo Logo
      .header__language-toggler-box 
       button.btn-toggler.mr-24px.btn-toggler--active UA
       button.btn-toggler.mr-24px RU
       button.btn-toggler EN

     figure.cell-icon#cell-icon-js
      span.cell-icon__cross-left#cross-left-js &nbsp;
      span.cell-icon__cross-none.figure-none-js &nbsp;
      span.cell-icon__cross-right#cross-right-js &nbsp;
      span.cell-icon__cross-none.figure-none-js &nbsp;
      span.cell-icon__cross-none.figure-none-js &nbsp;
      span.cell-icon__top#top-js &nbsp;
      span.cell-icon__right#right-js &nbsp;
      span.cell-icon__bottom#bottom-js &nbsp;
      span.cell-icon__left#left-js &nbsp;
      
     nav.navigation#navigation-js
      ul.navigation__list.mr-180px
       li.navigation__item
        a(href="#").navigation__link.link-js Головна
       li.navigation__item
        a(href="#").navigation__link.link-js Про компанію
       li.navigation__item
        a(href="#").navigation__link.link-js Варіанти придбання
       li.navigation__item
        a(href="#").navigation__link.link-js Варіанти інвестування
       li.navigation__item
        a(href="#").navigation__link.link-js Новини
       li.navigation__item
        a(href="#").navigation__link.link-js Документи
       li.navigation__item
        a(href="#").navigation__link.link-js Контакти
       li.navigation__item
        a(href="#").navigation__link.link-js Співробітництво
       li.navigation__item
        a(href="#").navigation__link.link-js Дизайн та розробка - <span>SvitSoft</span>

    script(src="js/app.js")

