<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title Document
    body 
    header.header
     .header__main-box
      .logo Logo
      .header__language-toggler-box 
       button.btn-toggler.mr-24px.btn-toggler--active UA
       button.btn-toggler.mr-24px RU
       button.btn-toggler ENG

     figure.cell-icon#cell-icon-js
      span.cell-icon__cross-left#cross-left-js &nbsp;
      span.cell-icon__cross-none#figure-none-js &nbsp;
      span.cell-icon__cross-right#cross-right-js &nbsp;
      span.cell-icon__cross-none#figure-none-js &nbsp;
      span.cell-icon__cross-none#figure-none-js &nbsp;
      span.cell-icon__top#top-js &nbsp;
      span.cell-icon__right#right-js &nbsp;
      span.cell-icon__bottom#bottom-js &nbsp;
      span.cell-icon__left#left-js &nbsp;
      
     nav.header__nav NAVIGATION

    script(src="js/app.js")

