<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.css")
        title Document
    body 
    header.header
     .header__main-box
      .logo Logo
      .header__language-toggler-box 
       button.btn-toggler.mr-24px.btn-toggler--active UA
       button.btn-toggler.mr-24px RU
       button.btn-toggler ENG
     nav.main-nav
      span Icon

