.btn-toggler {
    color: rgba($color-primary, .25);
    line-height: $default-font-size;
    font-size: 1.4rem;
    background: none;
    cursor: pointer;
    outline: none;
    border: 0;
    

    &--active { color: $color-primary; }
}