.loader {
    margin: 15rem auto;
    text-align: center; 

    svg {
        height: 6.5rem;
        width: 6.5rem;
        fill: $color-primary;
        transform-origin: 44% 50%;
        animation: rotate 1.5s infinite linear;
    }
}
