.slider {
    overflow: hidden;

    &__track {
        display: flex;

        @extend .transition-all;
    }

    &__item {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: $color-primary;

        min-width: 100%;
        position: relative;
        color: $color-primary-2;
    }

    &__info { padding: 5.6rem 0 5.6rem 5.6rem; }

    &__panel-count { 
        margin-bottom: 2.4rem; 
        list-style: none;
    }

    &__figure,
    figcaption { line-height: 2.4rem; }

    &__figure { 
        display: inline-block; 

        &:not(:first-child) { margin-left: 1.4rem; }

        &--active { font-family: $font-helvetica-700; }
    }

    &__img { clip-path: polygon(18% 0%, 100% 0, 100% 100%, 0% 100%); }
}