.slider {
    overflow: hidden;

    &__track {
        display: flex;
        height: 100%;

        @extend .transition-all;
    }

    &__item {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: $color-primary;

        min-width: 100%;
        position: relative;
        color: $color-primary-2;

        @include respond(desktop) {
            grid-template-columns: 1fr;

            display: grid;
            align-items: center;
        }
    }

    &__info { 
        width: 100%;
        padding: 5.6rem 0 5.6rem 5.6rem; 

        @include respond(desktop) {
            padding: 2.4rem 3.2rem; 
        }

        @include respond(phone) {
            grid-row: 2 / 3;
            grid-column: center-start / center-end;

            padding: 2.4rem 1.6rem;
        }
    }

    &__panel-count { 
        margin-bottom: 2.4rem; 
        list-style: none;

        @include respond(desktop) {
            margin-bottom: 1.2rem; 
        }

        @include respond(phone) {
            margin-bottom: .6rem; 
        }
    }

    &__figure,
    figcaption { 
        line-height: 2.4rem; 

        @include respond(desktop) {
            font-size: 1.4rem;
        }
    }

    &__figure { 
        display: inline-block; 

        &:not(:first-child) { margin-left: 1.4rem; }

        &--active { font-family: $font-helvetica-700; }
    }

    &__img { 
        @include respond(desktop) {
            display: none;
        }
        
        clip-path: polygon(18% 0%, 100% 0, 100% 100%, 0% 100%); 
    }
}