.header {
    @extend .d-flex-align-center;
    justify-content: space-between;
    padding-right: 3.2rem;

    &__main-box {
        @extend .d-flex-align-center;

        padding: 2.4rem 4rem 2.4rem 8rem;
        background: $color-gray;
    }

    &__language-toggler-box { margin-left: 5.5rem; }

    &__icons-box {
        height: 3.2rem;
        width: 3.2rem;
    }

    &__nav {
        display: none;
    }
}