.hero {
    background: url(/img/hero.png) center no-repeat;
    background-size: cover;

    &__grid-container { 
        padding-top: 23.2rem; 

        @include respond(desktop-mini) {
            padding-top: 30.5rem;
        }
    }

    &__presentation {
        grid-row: 2 / 3;
        grid-column: center-start / col-start 5;
        background-color: $color-primary-2;

        width: 79.2rem;
        padding: 8rem 3.6rem 12.8rem 4rem;

        figcaption {
            font-family: $font-helvetica-400;
        }

        @include respond(desktop-mini) {
            padding: 5.6rem 3.2rem 5.6rem 2.4rem;
            width: 100%;
        }
    }

    &__button {
        grid-column: col-end 6 / center-end;
        justify-self: end;
    }

    &__slider {
        grid-row: 3 / 4;
        grid-column: col-end 4 / full-end;
    }

    &__btn-box {
        display: flex;
        align-self: center;
        grid-row: 3 / 4;
        grid-column: col-start 1;
    }

    &__btn-switch,
    &__btn-switch {
        border: solid .1rem $color-white;
        background-color: transparent;
        transform: skew(-20deg);
        padding: 2.4rem;
        cursor: pointer;
        width: 4rem;
        outline: 0;
        
        @extend .transition-all;

        &:hover {
            border: solid .1rem transparent;
            background-color: $color-primary-2;
        }

        img { transform: translateX(-.8rem); }
    }
}