// COLORS
$color-primary: #4E254F;
$color-gray: #DADDE8;
$color-white: #fff;

//FONT_SIZE
$default-font-size: 1.6rem;

// FONTS
$font-helvetica-100: 'Helvetica Neue Light', sans-serif;
$font-helvetica-900: 'Helvetica Neue Bold', sans-serif;
